# Compiled files
/build/
**/build/

# IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Local environment
local.properties
.env

# Gradle
.gradle/
gradle-app.setting
gradle-wrapper.properties
!gradle-wrapper.jar
